{% for category in categories %}
<div class="tab-content row col-12" id="category_{{ category.id }}">
    {% for menue_in_restaraunt in category.menues_in_rastaraunt %}
    <div class="col-lg-4 col-sm-6">
        <div class="dish-item" id="{{ menue_in_restaraunt.menue.id }}">
            <img class="dish-img" src="{{ menue_in_restaraunt.menue.image.url }}"/>
            <div class="dish-title">{{ menue_in_restaraunt.menue.dish }}</div>
            <div class="dish-description">{{ menue_in_restaraunt.menue.description }}</div>
            <div class="dish-details flex-column">
                <div class="d-flex align-items-center mb-3">
                    <div class="dish-details_sizes"  {% if menue_in_restaraunt.menue.is_drink %} data-isdrink="true" {% endif %}>{% if menue_in_restaraunt.menue.weight %}{{ menue_in_restaraunt.menue.weight }}{% if menue_in_restaraunt.menue.is_drink %}мл{% else %}гр{% endif %}{% endif %}</div>
                    <div class="dish-details_price">{{ menue_in_restaraunt.price }}Р</div>
                </div>
                <div class="calculations" data-menue-id="{{ menue_in_restaraunt.menue.id }}">
                    <div class="minus-btn">-</div>
                    <div class="item-quantity">0</div>
                    <div class="plus-btn">+</div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}
