{% load django_svelte %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://respublica.bar/"/>
    <meta
        property="og:image"
        content="https://www.respublica.bar/images/logo.png"
    />
    <meta property="og:image:width" content="900"/>
    <meta property="og:image:height" content="439"/>
    <meta property="og:site_name" content="Франшиза Бар Respublica"/>
    <meta
        name="description"
        content="Современный уютный бар с прибылью от 500 тыс рублей в месяц"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Бар "Respublica"</title>
    <link rel="icon" href="/static/favicon.png"/>
    <script src="https://www.google.com/recaptcha/api.js?render=6Ldt-3IdAAAAANmg-3m44sDmGtdYTyC_ZNH-CbO8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.6.0/dist/css/suggestions.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.6.0/dist/js/jquery.suggestions.min.js"></script>

    <link href="/static/bundle.css" rel="stylesheet"/>
</head>

<body>
    <script>
        window.user = {
            name: '{% if request.user.profile.first_name %}{{request.user.profile.first_name}}{% endif %}',
            phone: '{% if request.user.profile.phone %}{{request.user.profile.phone}}{% endif %}'
        }
    
        !(function (e, t, n, c, o, a, f) {
            e.fbq ||
            ((o = e.fbq =
                function () {
                    o.callMethod
                        ? o.callMethod.apply(o, arguments)
                        : o.queue.push(arguments);
                }),
            e._fbq || (e._fbq = o),
                (o.push = o),
                (o.loaded = !0),
                (o.version = "2.0"),
                (o.queue = []),
                ((a = t.createElement(n)).async = !0),
                (a.src = "https://connect.facebook.net/en_US/fbevents.js"),
                (f = t.getElementsByTagName(n)[0]).parentNode.insertBefore(a, f));
        })(window, document, "script"),
            fbq("init", "249879825918890"),
            fbq("track", "PageView");
    
    </script>
    <noscript>
        <img
            height="1"
            width="1"
            style="display: none"
            src="https://www.facebook.com/tr?id=249879825918890&amp;ev=PageView&amp;noscript=1"
        />
    </noscript>
    <script>
        !(function (e, t, n, c, o, a, f) {
            e.fbq ||
            ((o = e.fbq =
                function () {
                    o.callMethod
                        ? o.callMethod.apply(o, arguments)
                        : o.queue.push(arguments);
                }),
            e._fbq || (e._fbq = o),
                (o.push = o),
                (o.loaded = !0),
                (o.version = "2.0"),
                (o.queue = []),
                ((a = t.createElement(n)).async = !0),
                (a.src = "https://connect.facebook.net/en_US/fbevents.js"),
                (f = t.getElementsByTagName(n)[0]).parentNode.insertBefore(a, f));
        })(window, document, "script"),
            fbq("init", "249879825918890"),
            fbq("track", "PageView");
    </script>
    <noscript
    ><img
            height="1"
            width="1"
            style="display: none"
            src="https://www.facebook.com/tr?id=249879825918890&amp;ev=PageView&amp;noscript=1"
    /></noscript>
    <header>
        <div class="navbar box-shadow">
            <div class="col-1 d-lg-block d-none position-absolute">
                <select class="select mt-1 mb-0 d-none " name="city" id="city_header">
                    <option value="" class="option">Выбери город</option>
                </select>
            </div>
            <div class="container align-self-center d-flex justify-content-between">

                <div
                        class="col-4 col-md-4 col-lg-5 align-items-center
                               justify-content-around px-0 d-lg-flex d-none"
                >
                    <!-- <a class="menu-item" href="{% url 'pclogin' %}">Главная</a>
                    <a class="menu-item" href="{% url 'pcdelivery' %}">Доставка</a>
                    <a class="menu-item" href="{% url 'pcbooking' %}">Бронирование</a> -->
                </div>
                <div class="col-2 d-lg-none d-block navbar-toggler">
                    <img
                            class="notactive mr-sm-2"
                            src="/static/app/img/menu.png"
                            height="33"
                    /><img
                        class="active mr-sm-2"
                        src="/static/app/img/close-menu.png"
                        height="33"
                />
                </div>
                <div
                    class="col-2 underlogo d-lg-flex align-items-center px-0
                    col-md-8 justify-content-center col-lg-2 d-none"
                >
                    <a class="d-flex align-items-center" href="#">
                        <img src="/static/app/img/logo@2x.png" alt="RESPUBLICA" width="83"/>
                    </a>
                </div>
                <div class="col-8 d-lg-none d-block text-center">
                    <a href="{% url 'index' %}">
                        <img
                            src="/static/app/img/mobile-logo.png"
                            alt="RESPUBLICA"
                            height="21"
                        />
                    </a>
                </div>
                <div class="col-2 d-lg-none d-block">
                    <a id="mobile_header_phone" class="phone" href="tel:+7(383)227-90-50">
                        <img class="mr-sm-2" src="/static/app/img/phone.png" height="24"/>
                    </a>
                </div>
                <div
                    class="col-4 col-md-4 col-lg-5 d-none d-lg-flex
                           align-items-center justify-content-around px-0"
                >
                    <a class="menu-item" href="{% url 'contacts' %}">Контакты</a>

                    {% if user.is_authenticated %}
                    <a class="login gradient1" href="/personal"
                    ><img
                            class="mr-sm-2"
                            src="/static/app/img/login-icon.png"
                            width="19"
                    /><span class="d-none d-sm-inline"> {% if user.profie.firstname %} {{ user.profie.firstname }} {% else %} кабинет {% endif %}</span>
                        {% else %}
                        <a class="login sign gradient1">
                            <img
                                class="mr-sm-2"
                                src="/static/app/img/login-icon.png"
                                width="19"
                            />
                            <span class="d-none d-sm-inline">Войти</span>
                            {% endif %}

                        </a>
                        <a class="phone gradient1" href="tel:+73832279050" id="phone_header">
                            <img
                                class="mr-sm-2"
                                src="/static/app/img/phone.png"
                                width="16"
                            />
                            <span class="d-none d-sm-inline" >227-90-50</span>
                        </a>
                </div>
            </div>
        </div>
    </header>
    {% block content %} {% endblock content %}
    <div id="menu">
        <div class="menu-container">
            <ul>
                <li><a class="menu-item" href="{% url 'menu' %}">Меню</a></li>
                <li>
                    <a class="menu-item" href="{% url 'reservation' %}">Бронирование</a>
                </li>
                <li>
                    <a class="menu-item" href="{% url 'delivery' %}">Доставка</a>
                </li>
                <li><a class="menu-item" href="{% url 'events' %}">События</a></li>
                <li><a class="menu-item" href="{% url 'career' %}">Карьера</a></li>
                <li><a class="menu-item" href="{% url 'franchise' %}">Франчайзи</a></li>
                <li><a class="menu-item" href="{% url 'contacts' %}">Контакты</a></li>
                <li class="mt-4">
                    <img class="mr-2 mb-2" src="/static/app/img/login-icon.png" width="19" />
                    {% if user.is_authenticated %}
                    <a href="/personal">Кабинет</a>
                    {% else %}
                    <a class="login sign">Войти</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
    
    {% display_svelte "Sign.svelte" component_props %}

    <div
    class="modal-wrapper modal fade"
    id="paymentRulesModal"
    tabindex="-1"
    role="dialog"
  >
    <div class="modal-dialog" style="max-width: 900px">
      <div class="modal-content">
        <div class="modal-header">
          <button
            class="close"
            type="button"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="modal-title">Оплата и возврат</div>
        </div>
        <div class="modal-description text-left mt-2">
          <h4>Возможные способы оплаты:</h4>
          <ul>
            <li>
              <strong>Наличными курьеру</strong> <br />

              Покупатель оплачивает заказ курьеру при получении. Расчет
              производится в рублях (при расчете крупными купюрами, предупредите
              об этом заранее оператора для подготовки сдачи).
            </li>

            <li>
              <strong>Банковской картой курьеру</strong>
              <br />
              Покупатель оплачивает с помощью банковской карты через терминал
              оплаты. Расчет производится в рублях.
            </li>
            <li>
              <strong>Оплата на сайте</strong><br />
              Для выбора оплаты товара с помощью банковской карты при оформлении
              заказа выберите тип оплаты «Онлайн Оплата». Оплата происходит
              через сервис invoise.su с использованием Банковских карт следующих
              платежных систем МИР, VISA, Mastercard Worldwide; Для оплаты
              (ввода реквизитов Вашей карты) Вы будете перенаправлены на
              платежный шлюз МКБ Банка. Соединение с платежным шлюзом и передача
              информации осуществляется в защищенном режиме с использованием
              протокола шифрования SSL. В случае если Ваш банк поддерживает
              технологию безопасного проведения интернет-платежей Verified By
              Visa или MasterCard SecureCode для проведения платежа также может
              потребоваться ввод специального пароля. Настоящий сайт
              поддерживает 256-битное шифрование. Конфиденциальность сообщаемой
              персональной информации обеспечивается МКБ Банком. Введенная
              информация не будет предоставлена третьим лицам за исключением
              случаев, предусмотренных законодательством РФ. Проведение платежей
              по банковским картам осуществляется в строгом соответствии с
              требованиями платежных систем МИР, Visa Int. и MasterCard Europe
              Sprl.
            </li>
          </ul>

          <h4>Отмена и возврат</h4>
          После совершения заказа вам позвонит оператор для подтверждения
          заказа. После подтверждения вы можете отменить заказ в течение 15
          минут. Возврат денежных средств возможен в течение 10 рабочих дней
          после написания заявления на возврат:
          <br />
          — на банковскую карту
          <br />
          — наличными
          <br />
          В случае возврата денежных средств на карту – срок поступления средств
          зависит от банка получателя. Если Вы отказались от заказа, при этом не
          оплатив его, то Вы будете внесены в "чёрный список" и не сможете
          совершать заказы в дальнейшем до тех пор, пока не погасите долг по
          последнему счёту. При получении, заказчик обязан проверить свой заказ
          при сотруднике службы доставки. Заказчик оплачивая заказ подтверждает
          надлежащее исполнение заказа.
          <br />
          Блюда возврату и обмену не подлежат.
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal modal-wrapper fade"
    id="deleteaccount"
    tabindex="-1"
    role="dialog"
  >
    <div class="modal-dialog">
      <div class="modal-content cart-top">
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-header mt-3">
          <div class="modal-title">Вы точно хотите удалить аккаунт?</div>
          <div class="modal-title success mb-4">Аккаунт удален</div>
        </div>
        <div class="pb-3 text-center">
          <a class="mt-0 mb-3 submit delete-account" href="#">Ок</a
          ><a class="download alternative close-modal" href="#">Отмена</a
          ><a class="mt-0 mb-3 submit success close-modal" href="#">ОК</a>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal-wrapper modal fade"
    id="consent_processing_data_modal"
    tabindex="-1"
    role="dialog"
  >
    <div class="modal-dialog" style="max-width: 900px">
      <div class="modal-content cart-top">
        <div class="modal-header">
          <button
            class="close"
            type="button"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="modal-title">
            Согласие на обработку персональных данных
          </div>
        </div>
        <div class="modal-description text-center mt-4">
          <a href="{{ privacy_url }}" style="font-size: 22px;" download>Скачать</a>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal-wrapper modal fade"
    id="franchise_form"
    tabindex="-1"
    role="dialog"
  >
    <div class="modal-dialog" style="max-width: 900px">
      <div class="modal-content cart-top">
        <div class="modal-header">
          <button
            class="close"
            type="button"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="modal-title">
            Заявка на франшизу
          </div>
        </div>
        <div class="modal-description text-center mt-4">
          <div class="row">
            <div class="col-6">
              <input type="text" class="first_name" placeholder="Имя">
            </div>
            <div class="col-6">
              <input type="text" class="phone-input" placeholder="Телефон">
            </div>
          </div>
        </div>
        <div class="text-center">
          <a href="#" class="submit franchise-submit">Отправить</a>
        </div>
      </div>
    </div>
  </div>
  <div
          class="modal-wrapper modal fade"
          id="empty-modal"
          tabindex="-1"
          role="dialog"
  >
    <div class="modal-dialog" style="max-width: 900px">
      <div class="modal-content cart-top">
        <div class="modal-header">
          <button
                  class="close"
                  type="button"
                  data-dismiss="modal"
                  aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="modal-title">
          </div>
        </div>
<!--        <div class="modal-description text-center mt-4"></div>-->
      </div>
    </div>
  </div>

  {% display_svelte "Feedback.svelte" component_props %}

  <div
    class="modal modal-wrapper fade"
    id="table-modal"
    tabindex="-1"
    role="dialog"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span></button
        ><img class="modal-table" src="/static/app/img/table.jpg" />
        <div class="modal-header mt-3">
          <div class="modal-title">
            Стол №<span id="table-modal-number">4</span>
            <div class="people-quantity">
              <img src="/static/app/img/a-profile-icon.png" width="21" /><span
                id="table-modal-people-quantity"
                >4</span
              >
            </div>
          </div>

        </div>
        <div class="modal-description">
          Столик с видом на город для компании до 4-х человек
        </div>
        <div class="text-center">
          <a class="mt-0 mb-3 submit select-table close-modal" href="#"
            >Выбрать стол</a
          >
        </div>
      </div>
    </div>
  </div>
    
    <script>console.log({
        address: document.querySelector("#dadata-address")
    })
    $("#dadata-address").suggestions({
        token: "5870aa5579db3be0faff6aa85d1caf810be3baca",
        type: "ADDRESS",
        /* Вызывается, когда пользователь выбирает одну из подсказок */
        onSelect: function (suggestion) {
            console.log(suggestion);
        },
    });</script>
    <script src="/static/bundle.bundle.js"></script>
</body>
<div id="menu">
    <div class="menu-container">
        <img class="close" src="/static/app/img/close.png" width="26"/>
        <div class="phone d-block d-sm-none">
            <a href="tel:88005558597">8 800 555 85 97</a
            ><small> БЕСПЛАТНО ПО РОССИИ</small>
        </div>
        <ul>
            <li><a href="#aftermain">Преимущества</a></li>
            <li><a href="#main-description">О компании</a></li>
            <li><a href="#format">Индивидуальные решения</a></li>
            <li><a href="#calculator">Финансовые показатели</a></li>
            <li><a href="#calc">Калькулятор дохода</a></li>
            <li><a href="#videos">Видео</a></li>
            <li><a href="#faq">FAQ</a></li>
            <li><a href="#contacts">Контакты</a></li>
        </ul>
        <button
                class="d-block d-lg-none btn btn-color"
                type="button"
                data-title="Заполните форму"
                data-subtitle="Специалист компании свяжется с Вами в течение 24 часов"
        >
            Заказать звонок
        </button>
    </div>
</div>
<div class="modal fade" id="static-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog form-wrapper">
        <div class="modal-content">
            <div class="modal-header">
                <button
                        class="close"
                        type="button"
                        data-dismiss="modal"
                        aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Оставить заявку</h4>
            </div>
            <form action="">
                <div class="form-field">
                    <label>Ваше имя</label>
                    <div class="input-wrapper"><input required name="name"/></div>
                </div>
                <div class="form-field">
                    <label>Ваша почта</label>
                    <div class="input-wrapper"><input type="email" name="email"/></div>
                </div>
                <div class="form-field">
                    <label>Ваш город</label>
                    <div class="input-wrapper"><input required name="city"/></div>
                </div>
                <div class="form-field">
                    <label>Ваш телефон</label>
                    <div class="input-wrapper">
                        <input type="hidden" name="subject" value="Заказать звонок"/>
                        <input
                                class="phone-input"
                                required
                                name="phone"
                                placeholder="+7(___)-___-__-__"
                        />
                    </div>
                </div>
                <div class="form-field">
                    <label>Ваша потребность</label>
                    <div class="input-wrapper">
                        <textarea name="description" cols="30" rows="10"> </textarea>
                    </div>
                </div>
                <p>
                    <img
                            src="/static/app/img/locker.png"
                            style="float: left; margin: 20px 25px 20px 0"
                    />Политика безопасности персональных данных:Вся полученная информация
                    используется исключительно в целях коммуникации с использованием
                    заполнившими форму обратной связи. Компания ООО «СТМ-Косметика»
                    обязуется не разглашать полученную информацию третьим лицам и
                    сторонним организациям.
                </p>
                <div class="text-center" style="margin-top: 20px">
                    <input class="btn" type="submit" value="Отправить"/>
                </div>
            </form>
        </div>
    </div>
</div>