{% extends 'base.py.html' %}
{% block content %}
<div class="inner-page container d-md-none d-block">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumbs">
          <a href="/">Главная страница</a>/<a href="#">Бронирование</a>/<a
            href="#"
          ></a>
        </div>
        <div class="section-title pb-1 pb-sm-4">События</div>
        <div class="swiper-wrap events-slider">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              {% for event in events %}
                <div class="swiper-slide">
                  <img src="{{ event.image.url }}" />
                  <div class="event-content">
                    <div class="event-time">{{ event.date }}</div>
                    <div class="event-title">{{ event.name }}</div>
                    <div class="event-description">
                      {{ event.description }}
                    </div>
                    <a class="event-button submit" href="/reservation"
                      >Забронировать столик на эту дату</a
                    >
                  </div>
                </div>
              {% endfor %}
              <!-- <div class="swiper-slide">
                <img src="/static/app/img/event1.jpeg" />
                <div class="event-content">
                  <div class="event-time">05.09 в 19:00</div>
                  <div class="event-title">La Discoteca</div>
                  <div class="event-description">
                    Дискотека с лучшими хитами 2020 года
                  </div>
                  <a class="event-button submit" href="/reserve.html"
                    >Забронировать столик на эту дату</a
                  >
                </div>
              </div> -->
            </div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-md-block d-none" id="events">
    <div class="col-container">
      {% for event in events %}
        <div class="event-column">
          <img src="{{ event.image.url }}" />
          <div class="event-content">
            <div class="event-time">{{ event.date|date:'d.m' }} в {{ event.date|date:'H:i' }}</div>
            <div class="event-title">{{ event.name }}</div>
            <div class="event-description">
              {{ event.description }}
            </div>
            <a class="event-button submit" href="/reservation"
              >Забронировать столик на эту дату</a
            >
          </div>
        </div>
      {% endfor %}
      <!-- <div class="event-column">
        <img src="/static/app/img/event1.jpeg" />
        <div class="event-content">
          <div class="event-time">05.09 в 19:00</div>
          <div class="event-title">La Discoteca</div>
          <div class="event-description">
            Дискотека с лучшими хитами 2020 года
          </div>
          <a class="event-button submit" href="/reserve.html"
            >Забронировать столик на эту дату</a
          >
        </div>
      </div> -->
      <!-- <div class="event-column">
        <img src="/static/app/img/event-test.jpeg" />
        <div class="event-content">
          <div class="event-time">05.09 в 19:00</div>
          <div class="event-title">La Discoteca</div>
          <div class="event-description">
            Дискотека с лучшими хитами 2020 года
          </div>
          <a class="event-button submit" href="/reserve.html"
            >Забронировать столик на эту дату</a
          >
        </div>
      </div> -->
      <!-- <div class="event-column">
        <img src="/static/app/img/event1.jpeg" />
        <div class="event-content">
          <div class="event-time">05.09 в 19:00</div>
          <div class="event-title">La Discoteca</div>
          <div class="event-description">
            Дискотека с лучшими хитами 2020 года
          </div>
          <a class="event-button submit" href="/reserve.html"
            >Забронировать столик на эту дату</a
          >
        </div>
      </div> -->
      <!-- <div class="event-column">
        <img src="/static/app/img/event-test.jpeg" />
        <div class="event-content">
          <div class="event-time">05.09 в 19:00</div>
          <div class="event-title">La Discoteca</div>
          <div class="event-description">
            Дискотека с лучшими хитами 2020 года
          </div>
          <a class="event-button submit" href="/reserve.html"
            >Забронировать столик на эту дату</a
          >
        </div>
      </div> -->
    </div>
  </div>
{% endblock content %}