{% extends 'base.py.html' %} {% block content %}
<div class="main-slide" id="main-page">
  <div class="container d-flex flex-column flex-lg-row align-items-center justify-content-center justify-content-lg-between">
    <a class="left-link" href="{% url 'preorder' %}"
      ><img
        class="mr-2"
        src="/static/app/img/take-away-food.png"
        width="37"
      />На вынос</a
    >
    <a class="center-link" href="{% url 'reservation' %}"
    ><img
      class="mr-2"
      src="/static/app/img/calendar.png"
      width="37"
    />Бронирование</a
  >
    <a class="right-link" href="{% url 'delivery' %}"
      ><img
        class="mr-2"
        src="/static/app/img/delivery.png"
        width="37"
      />Доставка</a
    >
  </div>
  <a href="#"><img class="mr-2" src="/static/app/img/scrolldown.png" width="37"/></a>
</div>
<div id="topslider">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title text-center">Новости и акции</div>
        <div class="swiper-wrap">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              {% for promo in promotions %}
              <div class="swiper-slide">
                <img src="{{ promo.image.url }}" />
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
