{% extends 'base.py.html' %}
{% block content %}
<div class="menu-section only-menu">
    <div class="inner-page container">
      <div class="row">
        <div class="col-12">
          <div class="button-dropdown tab-cont d-sm-none d-block">
            <a class="dropdown-toggle" href="javascript:void(0)">Закуски</a>
            <ul class="dropdown-menu">
              {% for category in categories %}
                <li><a class="but" data-category href="#category_{{ category.id }}">{{ category.name }}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="breadcrumbs">
            <a href="/">Главная страница</a>/<a href="#">Меню</a>/<a href="#"
              >{{Закуски}}</a
            >
          </div>
          <div class="d-flex title-row">
            <div class="section-title pt-4 pt-sm-0">Закуски</div>
            <div>
              <a class="download mr-sm-3 mr-0 active" href="{% url 'preorder' %}"
                >Калькулятор предзаказа</a
              ><a class="submit mt-0" href="#">
                Скачать меню<img src="/static/app/img/download-menu.png" width="17"
              /></a>
            </div>
          </div>
        </div>
        <div class="col-2 d-none d-md-block">
          <div class="tab-cont">
            {% for category in categories %}
              <a class="but" data-category href="#category_{{ category.id }}">{{ category.name }}</a>
              <!-- <a class="but" href="#reserve">Салаты</a>
              <a class="but" href="#orders">Роллы</a>
              <a class="but" href="#edit">Пицца</a> -->
            {% endfor %}
          </div>
        </div>
        <div class="col-lg-10 col-md-9 col-12">

          {% for category in categories %}
            <div class="tab-content row" id="category_{{ category.id }}">
              <div class="subcategory-title col-12">{{ category.name }}</div>
              {% for menue in category.menues.all %}
                <div class="dish-item col-sm-3" id="{{ menue.id }}">
                  <img class="dish-img" src="{{ menue.image.url }}" />
                  <div class="dish-title">{{ menue.dish }}</div>
                  <div class="dish-description">
                    {{ menue.description }}
                  </div>
                  <div class="dish-details">
                    <div class="dish-details_sizes">{{ menue.weight }}</div>
                    <div class="dish-details_price">{{ menue.price }}₽</div>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% endfor %}


          <!-- <div class="tab-content" id="reserve"></div>
          <div class="tab-content" id="orders"></div>
          <div class="tab-content" id="edit"></div> -->
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
