{% extends 'base.py.html' %}
{% block content %}
<div class="menu-section only-menu">
    <div class="inner-page container">
      <div class="row">
        <div class="col-12">
          <div class="button-dropdown tab-cont d-sm-none d-block">
            <a class="dropdown-toggle" href="javascript:void(0)">Закуски</a>
            <ul class="dropdown-menu">
              <li><a class="but active" href="#profile">Закуски</a></li>
              <li><a class="but" href="#reserve">Салаты</a></li>
              <li><a class="but" href="#edit">Пицца</a></li>
            </ul>
          </div>
          <div class="breadcrumbs">
            <a href="/">Главная страница</a>/<a href="#">Меню</a>/<a href="#"
              >Закуски</a
            >
          </div>
          <div class="d-flex title-row">
            <div class="section-title pt-4 pt-sm-0">Закуски</div>
            <div>
              <a class="download mr-sm-3 mr-0 active" href="/preorder.html"
                >Калькулятор предзаказа</a
              ><a class="submit mt-0" href="#">
                Скачать меню<img src="/static/app/img/download-menu.png" width="17"
              /></a>
            </div>
          </div>
        </div>
        <div class="col-2 d-none d-md-block">
          <div class="tab-cont">
            <a class="but active" href="#profile">Закуски</a
            ><a class="but" href="#reserve">Салаты</a
            ><a class="but" href="#orders">Роллы</a
            ><a class="but" href="#edit">Пицца</a>
          </div>
        </div>
        <div class="col-lg-10 col-md-9 col-12">
          <div class="tab-content row" id="profile">
            <div class="subcategory-title col-12">вино</div>
            <div class="dish-item col-sm-3">
              <img class="dish-img" src="/static/app/img/product.jpg" />
              <div class="dish-title">Ассорти горячих закусок</div>
              <div class="dish-description">
                хиты горячих закусок из нашего меню: сырные палочки, ржаные
                гренки, картофель фри, колбаски, рыбные палочки. подается с
                соусом тартар и кетчупом.
              </div>
              <div class="dish-details">
                <div class="dish-details_sizes">400/25/25 ГР/</div>
                <div class="dish-details_price">287.-</div>
              </div>
            </div>
            <div class="dish-item col-sm-3">
              <img class="dish-img" src="/static/app/img/product1.jpg" />
              <div class="dish-title">Эби темпура</div>
              <div class="dish-description">
                очищенные креветки в кляре и хлопьях темпура, обжаренные во
                фритюре. подается с острымм соусом кимчи.
              </div>
              <div class="dish-details">
                <div class="dish-details_sizes">100/15 гр /</div>
                <div class="dish-details_price">168.-</div>
              </div>
            </div>
            <div class="dish-item col-sm-3">
              <img class="dish-img" src="/static/app/img/product2.jpg" />
              <div class="dish-title">Гренки ржаные</div>
              <div class="dish-description">
                обжаренные брусочки ржаного хлеба с добавлением чеснока.
                подаются с соусом тартар
              </div>
              <div class="dish-details">
                <div class="dish-details_sizes">150/25 гр /</div>
                <div class="dish-details_price">110.-</div>
              </div>
            </div>
            <div class="dish-item col-sm-3">
              <img class="dish-img" src="/static/app/img/product3.jpg" />
              <div class="dish-title">Сырные палочки</div>
              <div class="dish-description">
                расплавленные твердый сыр в хрустящей панировке. подается с
                соусом тартар.
              </div>
              <div class="dish-details">
                <div class="dish-details_sizes">200/25 гр /</div>
                <div class="dish-details_price">146.-</div>
              </div>
            </div>
          </div>
          <div class="tab-content" id="reserve"></div>
          <div class="tab-content" id="orders"></div>
          <div class="tab-content" id="edit"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}