{% extends 'base.py.html' %}
{% block content %}
<div class="menu-section only-menu">
    <div class="inner-page container">
      <div class="row">
        <div class="col-12 button-dropdown tab-cont d-sm-none d-block">
          <a class="dropdown-toggle" href="javascript:void(0)">Меню</a>
          <ul class="dropdown-menu">
            {% for category in categories %}
              <li><a class="but" data-category href="#category_{{ category.id }}">{{ category.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-12 breadcrumbs">
          <a href="/">Главная страница</a>/<a href="#">Меню</a>/<a href="#"
            >{{Меню}}</a
          >
        </div>
        <div class="col-2 menu-navbar">
          <div class="menu-navbar__inner">
            <div class="section-title pt-4 pt-sm-0">Меню</div>
            <div class="d-none d-md-block">
              <div class="tab-cont">
                {% for category in categories %}
                  <a class="but" data-category href="#category_{{ category.id }}">{{ category.name }}</a>
                  <!-- <a class="but" href="#reserve">Салаты</a>
                  <a class="but" href="#orders">Роллы</a>
                  <a class="but" href="#edit">Пицца</a> -->
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-10 col-md-9 col-12">
          <div class="d-flex title-row">
            <div>
              <a class="download mr-sm-3 mr-0 active" href="{% url 'preorder' %}"
                >Калькулятор предзаказа</a
              ><a class="submit mt-0" href="{{ menue_file }}">
                Скачать меню<img src="/static/app/img/download-menu.png" width="17"
              /></a>
            </div>
          </div>

          {% for category in categories %}
          <div class="tab-content row col-12" id="category_{{ category.id }}">
            <!--          <div class="subcategory-title col-12">{{ category.name }}</div>-->
            {% for menue_in_restaraunt in category.menues_in_rastaraunt %}
            <div class="col-lg-4 col-sm-6">
              <div class="dish-item" id="{{ menue_in_restaraunt.menue.id }}">
                <img class="dish-img" 
                {% if menue_in_restaraunt.menue.image %}
                src="{{ menue_in_restaraunt.menue.image.url }}" 
                {% endif %}
                />
                <div class="dish-title">{{ menue_in_restaraunt.menue.dish }}</div>
                <div class="dish-description">{{ menue_in_restaraunt.menue.description }}</div>
                <div class="dish-details">
                  <div class="dish-details_sizes">{% if menue_in_restaraunt.menue.weight %}{{ menue_in_restaraunt.menue.weight }}{% if menue_in_restaraunt.menue.is_drink %}мл{% else %}гр{% endif %}{% endif %}</div>
                  <div class="dish-details_price">{{ menue_in_restaraunt.price }}Р</div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          {% endfor %}


          <!-- <div class="tab-content" id="reserve"></div>
          <div class="tab-content" id="orders"></div>
          <div class="tab-content" id="edit"></div> -->
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
