{% extends 'admin.py.html' %} {% load django_svelte %} {% block content %}
{% for reservation in reservations %}
<div
  class="modal-wrapper modal fade reservation_manager_modal"
  id="reservation_manager_modal_{{ reservation.id }}"
  tabindex="-1"
  role="dialog"
>

  <div class="modal-dialog" style="max-width: 400px">
    <div class="modal-content cart-top">
      <div class="modal-header">
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-title mb-2">№{{ reservation.id }}</div>
      </div>
      <p>{{ reservation.phone }}</p>
      <p>стол №{{ reservation.table }}</p>
      <p>Количество гостей: {{ reservation.persons }}</p>
      <p>{{ reservation.name }}</p>
      <p>Дата {{ reservation.start|date:'d.m.y' }}</p>
      <p>Время брони {{ reservation.start|date:'H:i' }}</p>
      <div class="text-center mt-3">
        <a class="edit-booking" data-modal href="#reservation_edit_modal_{{ reservation.id }}"
          >Редактировать <img src="/static/app/img/arrow-right-orange.svg"
        /></a>
      </div>
      <div
        class="
          d-flex
          justify-content-between
          flex-column
          align-items-center
          mb-4
          mt-2
        "
      >
      <form action="/pcpanel/booking" method="POST" class="w-100">
        <input type="hidden" name="id" value="{{ reservation.id }}">
        <input type="hidden" name="status" value="{{ ReservationStatusType.APPROVED }}" />
        <a href="#" onclick="submitForm(this); return false;" class="submit w-100 text-center">Разместить</a>
      </form>
      <form action="/pcpanel/booking" method="POST" class="w-100">
        <input type="hidden" name="id" value="{{ reservation.id }}">
        <input type="hidden" name="status" value="{{ ReservationStatusType.REJECT }}" />
        <a href="#" onclick="submitForm(this); return false;" class="download active mt-2 w-100 text-center close-modal" style="right: 0;">Отменить</a>
      </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% for reservation in reservations %}
<div
  class="modal-wrapper modal fade reservation_edit_modal"
  id="reservation_edit_modal_{{ reservation.id }}"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog" style="max-width: 600px">
    <div class="modal-content cart-top">
      <div class="modal-header">
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-title mb-2">№{{reservation.id}}</div>
      </div>
      <form action="" method="POST">
        <input type="hidden" name="id" value="{{reservation.id}}">
        <div class="pcbooking-modal-form__el">
          <div class="label-wrapper">
            <label for="pcbooking_phone">Номер телефона</label>
          </div>
          <div class="input-wrapper">
            <input type="text" id="pcbooking_phone" name="phone"  value="{{reservation.phone}}"/>
          </div>
        </div>
        <div class="pcbooking-modal-form__el">
          <div class="label-wrapper">
            <label for="pcbooking_table">Номер стола</label>
          </div>
          <div class="input-wrapper">
            <input type="text" id="pcbooking_table" name="table" value="{{reservation.table}}" />
          </div>
        </div>
        <div class="pcbooking-modal-form__el">
          <div class="label-wrapper">
            <label for="pcbooking_guests">Количество гостей</label>
          </div>
          <div class="input-wrapper">
            <input type="text" id="pcbooking_guests" name="persons" value="{{reservation.persons}}" />
          </div>
        </div>
        <div class="pcbooking-modal-form__el">
          <div class="label-wrapper">
            <label for="pcbooking_fio">ФИО</label>
          </div>
          <div class="input-wrapper">
            <input type="text" id="pcbooking_fio" name="name" value="{{reservation.name}}" />
          </div>
        </div>
        <div class="pcbooking-modal-form__el">
          <div class="label-wrapper">
            <label for="pcbooking_date">Дата</label>
          </div>
          <div class="input-wrapper">
            <input type="text" id="pcbooking_date" name="date"  value="{{ reservation.start|date:'d/m/Y' }}"/>
          </div>
        </div>
        <div class="pcbooking-modal-form__el">
          <div class="label-wrapper">
            <label for="pcbooking_time">Время брони</label>
          </div>
          <div class="input-wrapper">
            <input type="text" id="pcbooking_time" name="time" value="{{ reservation.start|date:'H:i' }}" />
          </div>
        </div>

        <div class="d-flex justify-content-between align-items-center mb-4 mt-2">
          <a href="#" onclick="submitForm(this.parentNode); return false;" class="submit">Сохранить</a>
          <a href="#" class="download active close-modal">Отменить</a>
        </div>

      </form>
    </div>
  </div>
</div>
{% endfor %}

<div class="inner-bg cabinet-booking">
  <div class="container-fluid inner-page">
    <div class="row">
      <div class="col-md-2 col-sm-12">
        <h4 class="section-title small">Новые бронирования</h4>


        <form>
          <select name="filter_restaraunt" onchange="submitForm(this)">
          <option value="" class="option">Выбери ресторан</option>
            {% for  filter in filter_restaraunt %}
              <option value="{{filter.id}}" class="option" {% if filter.id|stringformat:"s"  == request.GET.filter_restaraunt %} selected {% endif %} >{{filter}}</option>
            {% endfor %}
        </select>
      </form>



        {% for reservation in reservations %}
          <div class="cabinet-order" data-modal="#reservation_manager_modal_{{ reservation.id }}">
            <div class="cabinet-order_num">№{{reservation.id}}</div>
            <div class="cabinet-order_info">
              {{reservation.phone}} <br />
              стол №{{reservation.table}} <br />
              {{reservation.persons}} гостей <br />
              {{reservation.name}} <br />
              Дата {{ reservation.start|date:'d.m.y' }}<br />
              Время брони {{ reservation.start|date:'H:i' }} <br/>
              {{reservation.restaraunt.address}}
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="col-8">
        <div class="section-title" title="Бронирование">Бронирование</div>
        <div class="d-flex mb-3">
          {% display_svelte "ManagerCalendar.svelte" %}
          <a 
          class="submit ml-3 mt-0 d-flex align-items-center" 
          id="print-scheme-btn"
          data-scheme-url=""
          >Распечатать</a>
        </div>
        {% if messages %}
        {% for message in messages %}
        <div{% if message.tags %}{% endif %} style="color: white">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <div id="table" class="admin"></div>
        <div class="table-labels">
          <div class="label">
            <div class="label-box" style="background: rgb(48, 132, 16)"></div>
            <font class="d-sm-inline d-none">–</font> Свободно
          </div>
          <div class="label">
            <div class="label-box" style="background: rgb(255, 36, 0)"></div>
            <font class="d-sm-inline d-none">–</font> ЗАБРОНИРОВАНО
          </div>
          <div class="label">
            <div class="label-box" style="background: rgb(127, 127, 127)"></div>
            <font class="d-sm-inline d-none">–</font> ВЫ ВЫБРАЛИ
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-12">
        <h4 class="section-title small">Обработанные бронирования</h4>

        {% for reservation in reservations_processed %}
          <div class="cabinet-order" data-modal="#reservation_manager_modal_{{ reservation.id }}">
            <div class="cabinet-order_num">№{{reservation.id}}</div>
            <div class="cabinet-order_info">
              {{reservation.phone}} <br />
              стол №{{reservation.table}} <br />
              {{reservation.persons}} гостей <br />
              {{reservation.name}} <br />
              Дата {{ reservation.start|date:'d.m.y' }}<br />
              Время брони {{ reservation.start|date:'H:i' }} <br/>
              {{reservation.restaraunt.address}}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script>
  function submitForm(e){
    e.parentNode.submit()
  }
</script>
{% endblock content %}
