[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.9"
django-svelte = "*"
pillow = "*"
requests = "*"
geopy = "*"
dadata = "*"
python-dotenv = "*"
xlsxwriter = "*"
gunicorn = "*"
pytz = "*"
django-timezone-field = "*"
tzdata = "*"
django-imagekit = "*"

[dev-packages]

[requires]
python_version = "3.10"
